@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/theme.scss";

.m-search-results-box {
  background-color: var(--color-white-header);
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 87.5%;
  max-height: 347px;
  padding: 16px 41px 19px 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(112, 112, 112, 0.4);
    border-radius: 3px;
  }

  h3 {
    color: var(--color-blackred__white);
    font-size: size(15);
    font-family: $roboto-bold;
    line-height: 2;
  }

  hr {
    background-color: #00000015;
    border: none;
    height: 1px;
    margin-bottom: 23px;
  }

  ul {
    li {
      padding-bottom: 9px;
      border-bottom: 1px solid #00000015;
      margin-bottom: 7px;

      &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .result-item {
        border-radius: 8px;
        display: block;
        padding: 6px 12px;
        margin-left: -12px;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--color-hover-result-item);

          h4 {
            color: $magenta;
          }
        }

        h4 {
          font-family: $roboto-bold;
          font-size: size(15);
          color: var(--color-blackred__white);
          line-height: 22px;
          transition: color 0.2s ease;
        }

        p {
          color: var(--color-68-gray__white);
          font-size: size(14);
          line-height: 20px;
        }
      }
    }
  }

  @include fromy($large) {
    top: 56px;
    left: unset;
    transform: unset;
    width: 510px;
  }

  .a-loader-spinner {
    width: 50px;
    height: 50px;
    position: unset;
  }
}

// Dark Mode
body.dark-mode {
  ul {
    li {
      .result-item {
        &:hover {
          h4 {
            color: #fff;
          }
        }
      }
    }
  }
}
